page-login {
    .scroll-content {
        padding: 0 !important;
    }

    .logo-container {
        background-color: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 24px 0px 50px;
    }

    .login-tabs {
        padding: 32px 16px 8px;

        .tab {
            opacity: .9;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 3px;
            margin-right: 14px;
            font-weight: bold;
            font-size: 1.5em;
            color: #fff;

            &::after {
                content: '';
                transition: all 400ms;
                background-color: transparent;
                display: block;
                margin: 0 auto;
                width: 0px;
                height: 5px;
            }

            
            &.active {
                opacity: 1;
                
                &::after {
                    background-color: color($colors, secondary);
                    width: 100%;
                }
            }
        }
    }
}

