<app-header></app-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshContent($event)">
    <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <h3 class="page-title">Boletim</h3>

  <ion-list *ngIf="!!avaliacoes?.length; else emptyTemplate">
    <ion-item-group>
      <ion-item-divider color="light" text-uppercase>Selecione a avaliaçao</ion-item-divider>
      <button ion-item class="full-item" (click)="go2Notas(avaliacao.codverifi)" *ngFor="let avaliacao of avaliacoes">
        <ion-title>{{ getName(avaliacao.codverifi) }}</ion-title>
      </button>
    </ion-item-group>
  </ion-list>

  <ng-template #emptyTemplate>
    <div padding>
      <ion-icon style="font-size: 48px" name="ios-cube-outline"></ion-icon>
      <p>Você ainda não possui avaliações registradas.</p>
    </div>
  </ng-template>
</ion-content>
