<app-header></app-header>

<ion-content>
  <ion-list style="padding-bottom:55px">
    <ion-item-group>
      <ion-item-divider color="light" text-uppercase>
        Notificações
      </ion-item-divider>
      <button ion-item class="full-item notification" menuClose="right" (click)="showDetails(notificacao)" [ngClass]="{ new: !notificacao.lida }" *ngFor="let notificacao of notificacoes">
        <h2 [ngClass]="{ strong: !notificacao.lida }">{{ notificacao.titulo }}</h2>
        <p>{{ notificacao.conteudo }}</p>
        <ion-note>{{ notificacao.criado | amTimeAgo }}</ion-note>
      </button>
    </ion-item-group>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMore())" *ngIf="!end">
    <ion-infinite-scroll-content
      style="padding-bottom: 50px;"
      loadingSpinner="bubbles"
      loadingText="Carregando notificações...">
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
