<ion-menu side="right" type="reveal" [content]="content" id="notifications" persistent="true">
  <ion-content>
    <ion-list>
      <ion-list-header no-margin class="show-all">
        <a menuClose="right" (click)="showAll()">Visualizar todas</a>
      </ion-list-header>
      <button ion-item class="full-item notification" menuClose="right" (click)="showDetails(notificacao)" [ngClass]="{ new: !notificacao.lida }" *ngFor="let notificacao of notificacoes">
        <h2 [ngClass]="{ strong: !notificacao.lida }">{{ notificacao.titulo }}</h2>
        <p>{{ notificacao.conteudo }}</p>
        <ion-note>{{ notificacao.criado | amTimeAgo }}</ion-note>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>