<ion-menu side="right" type="reveal" [content]="content" id="notifications" persistent="true">
  <ion-content>
    <ion-list>
      <ion-list-header no-margin class="show-all">
        <a>Visualizar todas (4)</a>
      </ion-list-header>
      <button ion-item class="full-item notification" *ngFor="let comunicado of comunicados">
        <h2>{{ comunicado.titulo }}</h2>
        <p>{{ comunicado.conteudo }}</p>
        <ion-note>{{ comunicado.criado | date:'dd/MM/yyyy - HH:mm' }}</ion-note>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>