<ion-menu side="right" type="reveal" [content]="content" id="notifications" persistent="true">
  <ion-content>
    <ion-list>
      <ion-list-header no-margin class="show-all">
        <a>Visualizar todas (4)</a>
      </ion-list-header>
      <button ion-item class="full-item notification" [ngClass]="{ new: !notificacao.lida }" *ngFor="let notificacao of notificacoes">
        <h2>{{ notificacao.titulo }}</h2>
        <p>{{ notificacao.conteudo }}</p>
        <ion-note>{{ notificacao.criado | amTimeAgo }}</ion-note>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>