<ion-menu side="left" type="reveal" [content]="content" class="main-navigation" id="main-navigation" persistent="true">
  <ion-header padding-top class="navigation-header">
    <a (click)="getPicture()" class="navigation-avatar">
      <img [src]="avatar" alt="Avatar">
    </a>
    <h3 text-center margin class="navigation-title">{{ username }}</h3>
  </ion-header>
  <ion-content>
    <ion-list>
      <button *ngFor="let page of pages" ion-item menuClose="left" [class.activePage]="isActive(page.name)" (click)="openPage(page.name)">
        <ion-icon [name]="page.icon" padding-right></ion-icon>
        {{ page.title }}
      </button>
      <button ion-item menuClose="left" class="btn-logout" (click)="logout()">
        <ion-icon name="ios-exit-outline" padding-right></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>