<app-header></app-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshContent($event)">
    <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <h3 class="page-title">Boletim</h3>

  <ion-list *ngIf="!!disciplinas?.length; else emptyTemplate">
    <ion-item-group>
      <ion-item-divider color="light" text-uppercase>Selecione a disciplina</ion-item-divider>
      <button ion-item class="full-item" (click)="go2Avaliacoes(disciplina.coddisc)" *ngFor="let disciplina of disciplinas">
        <ion-title>{{ disciplina.nomedisc }}</ion-title>
      </button>
    </ion-item-group>
  </ion-list>

  <ng-template #emptyTemplate>
    <div padding>
      <ion-icon style="font-size: 48px" name="ios-cube-outline"></ion-icon>
      <p>Você ainda não possui disciplinas cadastradas.</p>
    </div>
  </ng-template>
</ion-content>
