<ion-header class="app-header" no-border>
  <ion-navbar hideBackButton="true">
    <button color="primary" ion-button menuToggle="left" left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <a class="logo-container">
      <img src="assets/imgs/logo.png" alt="Ciranda do Recreio">
    </a>
    <button color="primary" ion-button menuToggle="right" right class="notifications" >
      <ion-icon name="notifications"></ion-icon>
      <ion-badge class="count">{{ alunoService.notiNewsNumber }}</ion-badge>
    </button>
  </ion-navbar>
</ion-header>