app-header {
    .app-header {
        border-bottom: 3px solid color($colors, primary);
        box-shadow: none;
    }

    .app-header .toolbar-background {
        background-color: #fff;
    }

    .logo-container {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 8px 56px 8px 0px;
        height: 60px;

        img {
            height: 100%;
        }
    }

    .notifications {
        position: relative;
        padding-right: 12px;

        .count {
            background: red;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}